@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

:root {
  --main-color: #db4455;
  --gray: #838383;
  --red: #EB0000;
  --green: #00AD26;
  --white-color: #ffffff;
  --gray-color: #A9A9A9;
  --font-color: #6b6b6b;
}

body, html {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#groupActivatBox {
  width: 100vw;
}
#groupIntrobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  height: 35vh;
}

/* header */
.goalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  margin: 0 4vh;
  margin-top: 2vh;
}
.goalHeaderW {
  width: 90vw;
}
.goalHeader i {
  color: white;
  font-size: small;
}

/* 그룹관리페이지 header */
.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  color: var(--main-color);
  margin-bottom: 10vh;
}
.header i,
.header span {
  margin: 0 1rem;
  font-size: 6vw;
}
.hideArrowIcon {
  color: var(--white-color);
}
.goBackLink {
  text-decoration: none;
}
.goBackLink i {
  color: var(--main-color);
}
.header > a {
  text-decoration: none;
  color: var(--white-color);
}

#groupIntroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1vh;
}
.whiteTitle {
  font-weight: bold;
  font-size: 3em;
  color: white;
}
.groupDetail {
  margin: 0 5vw;
  text-align: center; 
  line-height: 1.5;
}
#groupIntroText .whiteTitle{
  font-weight: normal;
  font-size: 2.5em;
}

.groupIntroTag {
  display: flex;
  gap: 1em;
}

#groupAdminOrWithdraw {
  display: flex;
  gap: 1em;
  margin-top: 3vh;
}

.groupBtn {
  color: var(--main-color);
  background-color: white;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  font-weight: bold;
}

#groupSelectActivityList {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 0.2vh rgb(190, 190, 190);
  font-weight: bold;
}

#groupSelectActivityList a {
  color: var(--font-color);
}
#groupSelectActivityList > a,
#groupSelectActivityList > a:visited {
  text-decoration: none;
  font-weight: normal;
}

#groupSelectActivityList a.selectedGroupTab {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

.selected-group-admin-tab {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color)
}

#groupActivityContent {
  padding: 2vh;
  height: 41vh;
  overflow-y: auto;
  margin-bottom: 15vh;
}
#groupManageMentContent {
  padding: 2vh;
  overflow-y: auto;
  margin-bottom: 15vh;
}
/* footer */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px;
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 110px;
}
.footer_item i {
  font-size: 30px;
  color: #db4455;
  margin-bottom: 10px;
}

.footer_text {
  color: #db4455;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

.footer_link {
  text-decoration: none;
  display: flex;
}
